.nxbb-single-skill-bar .nx-skill-bar4 {
    background-color: rgba(255, 57, 132, .07);
    height: 10px;
}
.nxbb-single-skill-bar .nx-skill-bar4 .nx-skill-progress {
    background-color: #ff3984;
    border-radius: 5px;
    width: 0%;
    display: block;
    overflow: visible;
    position: relative;
    height: 100%;
}

.nx-skill-bar4 .nx-skill-progress .number-percentage-wraper{
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 1;
    color: #333;
    font-size: 13px;
}

.nxbb-single-skill-bar .skill-bar-content {
    margin-bottom: 7px;
}
.nxbb-single-skill-bar .skill-bar-content .skill-title {
    color: #000000;
}